<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org" lang="ca">
<head>
    <meta charset="UTF-8"/>
    <title>Gestionar Usuaris OVI</title>
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap@5.3.8/dist/css/bootstrap.min.css"/>
</head>
<body>
<main class="container">
    <h1>Llista d'Usuaris OVI</h1>
    <table class="table table-striped">
        <thead>
        <tr>
            <th>ID</th>
            <th>Nom</th>
            <th>Telèfon</th>
            <th>Data Naixement</th>
            <th>Adreça</th>
            <th>Email</th>
            <th>Diversitat Funcional</th>
            <th>LOPD</th>
            <th>Estat</th>
            <th>Tutor ID</th>
            <th>Accions</th>
        </tr>
        </thead>
        <tbody>
        <tr th:each="oviUser : ${oviUsers}">
            <td th:text="${oviUser.oviID}"></td>
            <td th:text="${oviUser.nameAndSurname}"></td>
            <td th:text="${oviUser.phoneNumber}"></td>
            <td th:text="${oviUser.birthDate}"></td>
            <td th:text="${oviUser.homeAddress}"></td>
            <td th:text="${oviUser.emailAddress}"></td>
            <td th:text="${oviUser.functionalDiversity}"></td>
            <td th:text="${oviUser.LOPDAcceptance}"></td>
            <td th:text="${oviUser.status}"></td>
            <td th:text="${oviUser.tutorID}"></td>
            <td>
                <a th:href="@{/oviuser/edit/{id}(id=${oviUser.oviID})}" class="btn btn-warning">Edita</a>
                <a th:href="@{/oviuser/delete/{id}(id=${oviUser.oviID})}" class="btn btn-danger">Esborra</a>
            </td>
        </tr>
        </tbody>
    </table>
    <a href="add" class="btn btn-success">Afegeix Usuari OVI</a>
    <br><br>
    <a href="/" class="btn btn-info">Tornar</a>
</main>
</body>
</html>