<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org" lang="ca">
<head>
    <meta charset="UTF-8"/>
    <title>Editar Tutor</title>
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap@5.3.8/dist/css/bootstrap.min.css"/>
</head>
<body>
<main class="container">
    <h1>Editar Tutor</h1>
    <form th:action="@{/tutor/edit/{id}(id=${tutor.tutorID})}" th:object="${tutor}" method="post">
        <div class="mb-3">
            <label for="nameAndSurname" class="form-label">Nom i Cognoms</label>
            <input type="text" class="form-control" id="nameAndSurname" th:field="*{nameAndSurname}"/>
        </div>
        <div class="mb-3">
            <label for="phoneNumber" class="form-label">Telèfon</label>
            <input type="text" class="form-control" id="phoneNumber" th:field="*{phoneNumber}"/>
        </div>
        <div class="mb-3">
            <label for="birthDate" class="form-label">Data Naixement</label>
            <input type="date" class="form-control" id="birthDate" th:field="*{birthDate}"/>
        </div>
        <div class="mb-3">
            <label for="homeAddress" class="form-label">Adreça</label>
            <input type="text" class="form-control" id="homeAddress" th:field="*{homeAddress}"/>
        </div>
        <div class="mb-3">
            <label for="emailAddress" class="form-label">Email</label>
            <input type="email" class="form-control" id="emailAddress" th:field="*{emailAddress}"/>
        </div>
        <div class="mb-3">
            <label for="relationshipWithUser" class="form-label">Relació amb l'Usuari</label>
            <input type="text" class="form-control" id="relationshipWithUser" th:field="*{relationshipWithUser}"/>
        </div>
        <button type="submit" class="btn btn-warning">Guardar</button>
        <a href="/tutor/list" class="btn btn-info">Cancel·lar</a>
    </form>
</main>
</body>
</html>